POSTGRES_DB=watch_history
POSTGRES_USER=watch_history
POSTGRES_PASSWORD=watch_history
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
APP_URL=http://localhost:3000
APP_INTERNAL_URL=http://web:3000
APP_TIMEZONE=Europe/London
HOME_ASSISTANT_ACCESS_TOKEN=
PLEX_BASE_URL=
PLEX_TOKEN=
